.a{
    width:100px; height:100px ;background-color: coral;
    position: fixed;
    right: 100px;
    top: 100px;
    /* animation-name: myrotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-direction: normal; */
  
}
.b{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: fixed;
    right: 40%;
    bottom: 20%;    
}
.c{
    width: 100px;
    height: 100px;
    background-color: crimson;
    right: 40%;
}

.rotate{
    animation: myrotate 2s linear 0s infinite normal;
    
}

@keyframes myrotate {
    0%{transform: rotate(0deg);}
    12%{background-color: #fff;}
    45%{transform: rotate(180deg) scale(1.5);}
    100%{transform: rotate(360deg);}
}

